<a href="https://colab.research.google.com/github/AbhishekBharati/Learning_Pandas/blob/main/LearningSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Learning Pandas**

In [14]:
import pandas as pd;

x = [4,5,6,7];

var = pd.Series(x, index=['a', 's', 'd', 'f'], dtype = "float", name="python");
print(var);
print(type(var));
print(var['s']); #print(var[2]);
print(var.iloc[2]);

a    4.0
s    5.0
d    6.0
f    7.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>
5.0
6.0

In [6]:
dic = {"name" : ["python", "c", "cpp", "java"], "popularity" : [12,13,14,15], "rank" : { "python" : 1, "c" : 2, "cpp" : 3, "java" : 4}};

var1 = pd.Series(dic);
print(var1);

name                              [python, c, cpp, java]
popularity                              [12, 13, 14, 15]
rank          {'python': 1, 'c': 2, 'cpp': 3, 'java': 4}
dtype: object

In [7]:
s = pd.Series(12);
print(s);
print(type(s));

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [15]:
s1 = pd.Series(12, index = [1,2,3,4,5,6,7]);
s2 = pd.Series(12, index = [1,2,3,4]);

print(s1 + s2);

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64